:root {
  --gradient: linear-gradient(130deg, #5c52ee, purple, #ee6352);
}

body {
  background-image: var(--gradient);
  background-size: 200%;
  animation: bg-animation 25s infinite;
  color: rgba(255, 255, 255, 0.87);
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  50% {
    background-position: right;
  }

  100% {
    background-position: left;
  }
}

.dupa {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 624px;
  width: 1272px;
  display: grid;
  grid-template-columns: repeat(4, 300px);
  grid-template-rows: repeat(2, 300px);
  grid-column-gap: 28px;
  grid-row-gap: 24px;
  justify-content: center;
  justify-items: center;
  margin: 0 auto;
}

.big-card {
  width: 628px;
  height: 300px;
}

.small-card {
  width: 300px;
  height: 300px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 37px;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 10px 10px 22px 0px rgba(0, 0, 0, 0.25);
  margin: auto;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 38px;
  font-weight: 300;
}

.title-card {
  grid-column: span 2;
}

.about-card:hover,
.cv-card:hover,
.projects-card:hover,
.contact-card:hover {
  cursor: pointer;
}

.name {
  text-align: center;
  font-size: 3rem;
}
